{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Changed!{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div>
    </div>
    <div class="col-sm-9 offset-sm-1 text-center">
        <a href="{% url 'logout' %}">click here to redirect to login page</a>
        <h3>Password Changed Successfully!!</h3>
        <div><img src="https://media.giphy.com/media/PijzuUzUhm7hcWinGn/giphy.gif"/></div>
    </div>
</div>
{% endblock main-content %}
